:root {
    --white: #dddddd;
    --green: #04aa6d;
    --gray: #38444d;
    --bg: #15202b;
    --dark: #0d1721;
    --text: #cccccc;
}

/* * {
    border: 1px solid white;
} */

/* box-shadow = horizontal, vertical, blur, spread, color */

body {
    padding: 10px;
    background: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a {
    color: var(--white);
}

a:hover {
    color: var(--green);
}

a i:hover {
    color: inherit;
}

/* ------------------------------------------------------------------- Header */
#Header {
    font-size: 40px;
    text-align: center;
}

#Header h1 {
    text-shadow: 1px 1px 2px black, 0 0 50px var(--green);
}

/* ----------------------------------------------------------- Navigation Bar */
#Nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--green);
    background: var(--gray);
    font-weight: bold;
}

#Nav a {
    padding: 10px 10px;
    text-decoration: none;
}

#Nav a:hover {
    background: var(--green);
    color: var(--dark);
}

/* ------------------------------------------------------------------ Content */
#Content {
    display: flex;
    padding: 10px 0;
}

#Content h2, #Content h3 {
    text-shadow: 1px 1px 2px black, 0 0 15px var(--green);
    color: white;
}

#Content h3 {
    display: flex;
    justify-content: center;
}

#Content h4 {
    font-size: 19px;
    text-shadow: 1px 1px 2px black;
}

#Content h5 {
    font-size: 16px;
}

#Content div {
    border-radius: 15px;
}

#Content div div div {
    border-radius: 0;
}

#Content img {
    border-radius: 15px;
}

/* ------------------------------------------------------ Content => Sideview */
#Sideview {
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 10px 5px 15px white; */
    max-width: 300px;
    background: var(--gray);
}

#Sideview h3 {
    border-bottom: 1px solid var(--green);
}

#Sideview div {
    padding: 10px;
    background: var(--gray);
}

#Sideview div div {
    margin: 0 0 10px 0;
    padding: 0;
}

#Personal div {
    display: flex;
    align-items: center;
}

#Personal i {
    margin-right: 5px;
}

#Personal a, #Personal span {
    white-space: nowrap;
}

#Languages div, #Skills div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Languages div p, #Skills div p {
    margin: 0 5px 0 0;
    white-space: nowrap;
}

#Languages div div, #Skills div div {
    margin: 0;
}

#Sideview div div:hover {
    color: white;
    cursor: default;
    text-shadow: 1px 1px 2px black, 0 0 15px var(--green);
}

/* -------------------------------------------------- Content => Main Content */
#MainContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#MainContent div {
    margin: 10px 0 0 10px;
    padding: 0 10px 0;
    background: var(--gray);
}

#MainContent div:first-child {
    margin-top: 0;
}

#MainContent p {
    margin-left: 10px;
    color: var(--text);
}

#MainContent h5 {
    margin-left: 10px;
}

#Work div {
    border-top: 1px solid var(--green);
    padding: 0;
}

#Education p span {
    text-decoration: line-through;
}

/* ------------------------------------------------------------------- Footer */
#Footer {
    text-align: center;
}

#Footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#Footer div div a i {
    margin-right: 10px;
}
